.text-regular {
    font-family: Montserrat-Regular, sans-serif;
}

.text-semi-bold {
    font-family: Montserrat-SemiBold, sans-serif;
}

.text-bold {
    font-family: Montserrat-Bold, sans-serif;
}

.text-light-secondary {
    color: var(--text-secondary)
}

.dead {
    background-color: var(--status-false);
}

.alive {
    background-color: var(--status-true);
}

.unknown {
    background-color: var(--status-unknown);
}
