@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'),
    url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat-SemiBold'),
    url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

:root {
    --background-primary: #FFFFFFFF;
    --background-secondary: #f5f5f5;
    --text-primary: #000000FF;
    --text-secondary: #0B5ED7FF;

    --status-true: rgb(85, 204, 68);
    --status-false: rgb(214, 61, 46);
    --status-unknown: rgb(158, 158, 158);

    --text-hover-dark: rgb(255, 152, 0);
    --text-hover-light: #0b5ed7;
}

[data-theme='dark'] {
    --background-primary: #24282FFF;
    --background-secondary: #3C3E44FF;
    --text-primary: #FFFFFFFF;
    --text-secondary: #9E9E9EFF;
}

.text-regular {
    font-family: Montserrat-Regular, sans-serif;
}

.text-semi-bold {
    font-family: Montserrat-SemiBold, sans-serif;
}

.text-bold {
    font-family: Montserrat-Bold, sans-serif;
}

.text-light-secondary {
    color: var(--text-secondary)
}

body {
    background: var(--background-primary);
    color: var(--text-primary);
    font-family: Montserrat-Regular, sans-serif;
    letter-spacing: -0.1px;
}

.app {
    color: var(--text-primary);
    background: var(--background-primary);
    transition: all .5s;
}

.header {
    background: var(--background-secondary);
}

/*box shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px*/
/*    color: var(--text-hover-dark)
*/
